# Виртуальное окружение
.venv/

# Настройки IDE (PyCharm)
.idea/

# Скомпилированные файлы и папки
output/

# Папка с XML (если это временные данные)
xml/

# Секретные ключи и настройки окружения
.env
*.env

# Специфическое для Python (байт-код)
__pycache__/
*.pyc
